{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block style %}

<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">-->
{% endblock %}

{% block content %}

<div class="container">


<form class="mt-5" action="/", method="get">
  <div class="mb-3">
    <label for="linklabel" class="form-label">Укороченный адрес:</label>
    <input class="form-control" id="linklabel">
  </div>
  <button type="submit" class="btn btn-primary">Вернуться на главную</button>
</form>
</div>

{% endblock %}